<div class="cards">
    <div class="cards-info">
        <div class="card-info__author">
            {{author}}
        </div>
        <div class="cards-info__subscribers">
            {{subscribers}} подписчиков
        </div>
    </div>
    <div class="cards-picture">
        <a href="/posts/{{id}}" class="cards-picture__content"><img src={{img}} class="cards-picture__content"></a>
    </div>
    <div class="cards-title">
        <a href="/posts/{{id}}" class="cards-title__content">
            {{title}}
        </a>
    </div>
    <div class="cards-text">
        <a href="/posts/{{id}}" class="cards-text__content">
            {{content}}
        </a>
    </div>
    <div class="cards-published">
        <div class="cards-published__content">
            {{published}}
        </div>
    </div>
</div>
