<div class="card">
    <div class="card-title">
        <div class="card-title__content">
            {{title}}
        </div>
    </div>
    <div class="card-published">
        <div class="card-published__content">
            {{published}}
        </div>
    </div>
    <div class="card-picture">
        <img src={{img}} class="card-picture__content">
    </div>
    <div class="card-text">
        <div class="card-text__content">
            {{content}}
        </div>
    </div>
    <div class="card-info">
        <div class="card-info__author">
            {{author}}
        </div>
    </div>
</div>
